<html>

<body style="padding: 2em;">
    <H3>A new trade decision was made by trader {{.Decision.TraderGUID}}</H3>
    <div>The following trades needs to be made</div>
    </hr>

    {{range .Decision.Trades}}
    <div style="margin-top: 1em;">
        <div>
            <b>Trade:</b>
            <b>{{.FromAmountIntent}} {{.From.Symbol}} </b>
            <i>for</i>
            <b>{{.ToAmountIntent}} {{.To.Symbol}}</b>
        </div>
        <div>
            <b>Intended Price:</b>
            <b>1 {{.From.Symbol}}</b> =
            <b>{{.PriceIntent}} {{.To.Symbol}}</b>
        </div>
    </div>
    {{end}}
</body>
</html>