[qor-icon-name*="Account"] > a::before {
  content: "\e851";
}
[qor-icon-name*="Crypto Resources"] > a::before {
  content: "\E850";
}
[qor-icon-name*="Crypto Traders"] > a::before {
  content: "\E915";
}
[qor-icon-name*="Ledger"] > a::before {
  content: "\E85D";
}
[qor-icon-name*="publish"] > a::before {
  content: "\E147";
}
[qor-icon-name*="unpublish"] > a::before {
  content: "\e15c";
}
p[data-heading="Images"] {
  display: none;
}
.qor-table--medialibrary .mdl-card__supporting-text > p[data-heading*="Image"] {
  height: auto;
}
.qor-field__show {
  white-space: pre-line;
}
.qor-layout__sidebar > .sidebar-header > a:first-child {
  background-size: contain;
}
