<div class="qor-field">
  <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
    <label class="qor-field__label mdl-textfield__label" for="third_party_app_1_token">
      Token
    </label>
    <div class="qor-field__show">
      {{.Value}}
    </div>
  </div>
</div>